.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #267026;
  z-index: 10;
  /* padding: 10px 20px; */
  /* Hiệu ứng mượt khi ẩn/hiện */
  height: max-content;
  transition: height 0.4s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  /* padding: 1rem; */
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
}

.info {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.admin_info a {
  text-decoration: none;
  font-style: italic;
}

.admin_info h5 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.toggle:hover {
  font-size: 30px;
  bottom: -11px;
}

.toggle {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  font-size: 25px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: all 0.3s ease;
}

.nav_active {
  background-color: #28b728;
}
/* 
.container .show {
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.5);
  cursor: default;
} */

/* .container ul li:hover {
  box-shadow: 1px 2px 5px rgba(0, 122, 27, 0.5);
} */

.container ul li {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

.container ul a {
  text-decoration: none;
}

.title_label {
  color: #fff;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.back_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.back_btn:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.back_btn:focus {
  outline: none;
  border: none;
}
