main {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::selection {
  background-color: #0b372dbb;
}

.bg-img {
  position: absolute;
  z-index: 1;
  width: 2800px;
  top: calc(50% - 390px);
  left: calc(50% + 10px);
}

.fog-7 {
  position: absolute;
  width: 1900px;
  top: calc(50% - 100px);
  left: calc(50% + 300px);
  z-index: 2;
}

.mountain-10 {
  position: absolute;
  width: 892px;
  top: calc(50% + 69px);
  left: calc(50% + 230px);
  z-index: 3;
  animation: forMountain10 5s infinite ease;
}

@keyframe forMountain10 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.fog-6 {
  position: absolute;
  width: 1610px;
  top: calc(50% + 85px);
  left: calc(50%+ 10px);
  z-index: 4;
}

.mountain-9 {
  position: absolute;
  z-index: 5;
  width: 470px;
  top: calc(50% + 113px);
  left: calc(50% - 457px);
  z-index: 5;
}

.mountain-8 {
  position: absolute;
  z-index: 6;
  width: 810px;
  top: calc(50% + 86px);
  left: calc(50% - 202px);
  z-index: 6;
}

.fog-5 {
  position: absolute;
  z-index: 7;
  width: 450px;
  top: calc(50% + 160px);
  left: calc(50% + 20px);
  z-index: 7;
}

.mountain-7 {
  position: absolute;
  z-index: 8;
  width: 538px;
  top: calc(50% + 123px);
  left: calc(50% + 305px);
  z-index: 8;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7)
  );
  pointer-events: none;
}

.parallax {
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;

  z-index: 9;
  top: calc(50% - 130px);
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  pointer-events: auto;
}

.text h2 {
  line-height: 0.88;
  font-weight: 100;
  font-size: 5.5rem;
  padding-top: 100px;
}

.text h1 {
  font-weight: 800;
  font-size: 8rem;
  line-height: 0.88;
  animation: shake 5s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(35px, -40px); /* Di chuyển sang phải và lên trên */
  }

  40% {
    transform: translateY(-40px); /* Di chuyển sang trái và xuống dưới */
  }

  60% {
    transform: translate(35px, -40px); /* Di chuyển sang phải và lên trên */
  }

  80% {
    transform: translateY(40px); /* Di chuyển sang phải và lên trên */
  }

  100% {
    transform: translate(0, 0); /* Trở lại vị trí ban đầu */
  }
}

.mountain-6 {
  position: absolute;
  z-index: 10;
  width: 408px;
  top: calc(50% + 60px);
  left: calc(50% + 590px);
}

.fog-4 {
  position: absolute;
  z-index: 11;
  width: 590px;
  top: calc(50% + 223px);
  left: calc(50% - 60px);
}

.mountain-5 {
  position: absolute;
  z-index: 12;
  width: 538px;
  top: calc(50% + 250px);
  left: calc(50% + 130px);
  /* animation: forMountain5 3s infinite ease;  */
}

@keyframes forMountain5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.fog-3 {
  position: absolute;
  z-index: 13;
  width: 1600px;
  top: calc(50% + 110px);
  left: calc(50% - 15px);
}

.mountain-4 {
  position: absolute;
  z-index: 14;
  width: 805px;
  top: calc(50% + 100px);
  left: calc(50% + 381.5px);
}

.mountain-3 {
  position: absolute;
  z-index: 15;
  width: 464px;
  top: calc(50% + 196px);
  left: calc(50% + 589px);
}

.fog-2 {
  position: absolute;
  z-index: 16;
  width: 1560px;
  top: calc(50% + 147px);
  left: calc(50% - 30px);
}

.mountain-2 {
  position: absolute;
  z-index: 17;
  width: 690px;
  top: calc(50% + 154px);
  left: calc(50% - 412px);
}

.mountain-1 {
  position: absolute;
  z-index: 18;
  width: 530px;
  top: calc(50% + 17px);
  left: calc(50% - 601px);
}

.sun_rays {
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0;
  width: 595px;
  pointer-events: none;
}

.black-shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  pointer-events: none;
}
.fog-1 {
  position: absolute;
  z-index: 21;
  width: 1600;
  top: calc(100% - 355px);
  left: 50%;
}
