.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.text {
  position: absolute;
  z-index: 3;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: white;
}

.title_small {
  font-size: 30px;
}

.title_medium {
  font-size: 50px;
}

.title_large_stroke {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-family: Arial, sans-serif;
}

.title_city {
  font-size: 40px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.vignette {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  /* Tránh video tràn khỏi khung */
  z-index: 1;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

/* ✅ Responsive for mobile */
@media (max-width: 768px) {
  .text {
    top: 10%;
    transform: translate(-50%, 20%);
    padding: 0 10px;
  }

  .title_small {
    font-size: 18px;
  }

  .title_medium {
    font-size: 28px;
  }

  .title_large_stroke {
    font-size: 50px;
    -webkit-text-stroke: 1px white;
  }

  .title_city {
    font-size: 24px;
  }
}