.select_node_container {
    width: 100%;
    height: 100%;
}

.list_content {
    width: 100%;
    height: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

.item .feautures_inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

.item .feature_inner_item {
    display: block;
    cursor: pointer;
    color: rgb(6, 60, 255);
    text-decoration: underline;
}

.item .feature_inner_item:hover {
    font-size: 0.9rem;
    transition: all 2ms ease;
}

.features {
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem;
    background-color: transparent;
    gap: 1rem;
}

.break {
    height: 2px;
    border: none;
    background-color: #267026;
    margin: 0 1rem 1rem 1rem;
}

.box {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
}

.search_box {
    padding: 0 1rem;
}

.search_box input {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9rem;
    caret-color: #267026;
    background-color: #fff;
    color: #000;
}

.search_box .label_for_search {
    cursor: text;
    padding: 0px 12px;
}

.search_icon {
    width: 13px;
}

/* LỌC */
.filter_box {
    gap: 0.5rem;
    padding: 1rem;
    color: #000;
}

.box:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.box button {
    background-color: transparent;
    border: none;
    color: #000;
}

.sort_box {
    color: #000;
    padding: 1rem;
    gap: 0.5rem;
}

.next_btn:hover {
    opacity: 0.7;
}

.next_btn:focus {
    outline: none;
    border: none;
}

.next_btn {
    padding: 0.5rem 1rem;
    background-color: #008000 !important;
    position: absolute;
    right: 1rem;
}

.node_container {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.tour {
    position: relative;
    background: linear-gradient(to bottom, #fff, rgba(255, 2, 2, 0));
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 150px;

    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.tour:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.tour:hover::before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

.tour::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
    border-radius: 20px;
}

.selected {
    border: 2px solid #09ff00;
    box-shadow: 0 0 10px #09ff00;
}

.name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected_node {
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quantity {
    width: 20%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: black;
}

.quantity .quantity_value {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #267026;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.node_list {
    width: 80%;
    display: flex;
    justify-content: start;
    color: #fff;
    gap: 0.2rem;
    overflow: hidden;
    overflow-x: auto;
}

.node_list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track – nền sau */
.node_list::-webkit-scrollbar-track {
    background-color: white;
}

/* Thumb – phần trượt */
.node_list::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #a8ff78 0%, #78ff6e 50%, #28a745 100%);
    border-radius: 15px;
}

/* Hover – đổi màu nhẹ */
.node_list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #78ff6e, #1e7e34);
    box-shadow: inset 0 0 1px #1e7e34;
}


.display_tour {
    position: relative;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 100px;
    width: 100px;
    flex-shrink: 0;

    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_btn {
    padding: 8px 12px;
    margin: 0 4px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    color: black;
}

.page_btn:focus {
    outline: none;
    border: none;
}

.page_btn:hover {
    background-color: #ddd;
}

.active {
    background-color: #0e9013;
    color: white;
    font-weight: bold;
}

.back_btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.back_btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}