.campusMapContainer {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
  max-width: 50vw;
  color: aquamarine;
  font-weight: 300;
}
