.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: max-content;
  /* max-height: 250px; */
  height: fit-content;
  color: black;
  transform: scaleX(-1);
  border: 1px solid #fff;
}

.leftPane {
  flex: 1;
  width: 50%;
}

.rightPane {
  background: #fff;
  flex: 1;
  width: 50%;
  height: 200px;
  padding: 15px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.description {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  height: 60%;
  overflow-y: auto;
  pointer-events: auto;
}

.center_pane {
  margin: auto;
  padding: 1rem;
  text-align: center;
  height: fit-content;
  overflow-y: auto;
  background-color: #00000052;
  width: 100%;
  border-radius: 0.5rem;
}

.button_detail {
  position: absolute;
  bottom: 10px;
  left: 50%;
  padding: 0.1rem 0.5rem;
  /* margin-left: 25%;
  margin-top: 10px; */
  font-size: 12px;
}
