.chatBox{
    position: absolute;
    max-height: 400px;
    top: 20%;
    right: 10px;
}
.chatContent{
    overflow-y: auto;
    top: 30%;
    right: 10px;
    /* transform: perspective(500px) rotateX(-20deg) rotateY(-20deg); */
    font-size: 25px;
    color: #0f992d;
}
.chatInput{
    background: none;
    outline: none;
    border: none;
    border-left: 2px solid #333;
    font-size: 20px;
}

.sendChatBtn:hover{
    opacity: 0.8;
    color: #0f992d;
}
.sendChatBtn{
    position: absolute;
    background: none;
    right: 0px;
    margin-top: -10px;
    outline: none !important;
    border: none;
}