/* Tour.module.css */
.h1 {
  margin-left: 50px;
  padding: 100px;
}

.previewTour {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.header_tour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.config_tour {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.show_menu:hover,
.fullscreen_btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.2);
  /* color: rgba(0, 0, 0, 0.5); */
}

.back_btn {
  font-size: 20px;
}

.back_btn,
.show_menu {
  z-index: 2;
  color: white;
  transition: transform 0.3s ease;
}

.step_title {
  display: flex;
  align-items: center;
  z-index: 2;
}

.header_tour_left {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #333;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 10px;
  width: 70px;
  /* ban đầu chỉ đủ chứa số */
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.4s ease;
  cursor: pointer;
}

.header_tour_left:hover {
  width: 300px;
}

.number_step {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border-radius: 50%;
  margin-left: 0;
  flex-shrink: 0;
  position: absolute;
  left: 30px;
  pointer-events: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.header_tour_left span {
  font-size: 18px;
  margin-left: 50px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease 0.2s;
}

.header_tour_left:hover span {
  opacity: 1;
}

.back_btn {
  color: white;
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease 0.2s;
  flex-shrink: 0;
}

back_btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.2);
}

.header_tour_left:hover .back_btn {
  opacity: 1;
}

/*      Box đại diện cho mỗi node.  */

.thumbnailsBox {
  display: flex;
  gap: 5px;
  max-width: 50%;
  background: url("/public/shelf.png") no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

/* 
.add_node_button:hover{
  opacity: 0.8;
  font-size: 35px;
} */
.add_node_button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  color: #333;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.toggle_right_menu:hover {
  cursor: pointer;
}

.toggle_right_menu {
  background-color: #333333;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  transform: translateX(-50%);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle_next_step_3 {
  position: absolute;
  right: 0;
}

.toggle_status {
  position: absolute;
  right: 10rem;
}

.done_button {
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rightMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  /* ẩn menu bằng transform */
  transition: right 1s ease;
  z-index: 26677998;
}

.rightMenu .rightTitle {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
}

.rightMenu .rightTitle .close_menu_btn {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  animation: fadeInMenu 0.5s ease;
  z-index: 26777271;
}

@keyframes fadeInMenu {
  0% {
    left: -10px;
    width: 0;
  }

  100% {
    left: 0;
    width: 25px;
  }
}

.task_container {
  width: 40vw;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  transform: translateY(100%);
  /* Ẩn xuống dưới hoàn toàn */
  transition: transform 1s ease-in-out;
  z-index: 2;
}

.update_hotspot_container {
  width: 40vw;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 2;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}

.task_container::-webkit-scrollbar,
.update_hotspot_container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track – nền sau */
.task_container::-webkit-scrollbar-track,
.update_hotspot_container::-webkit-scrollbar-track {
  background-color: white;
}

/* Thumb – phần trượt */
.task_container::-webkit-scrollbar-thumb,
.update_hotspot_container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a8ff78 0%, #78ff6e 50%, #28a745 100%);
  border-radius: 15px;
}

/* Hover – đổi màu nhẹ */
.task_container::-webkit-scrollbar-thumb:hover,
.update_hotspot_container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #78ff6e, #1e7e34);
  box-shadow: inset 0 0 1px #1e7e34;
}

.publish_tour_button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  z-index: 3;
}

.guide_button:focus {
  outline: none;
  border: none;
}

.guide_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

/* create auto tour */
.node_list {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  max-width: 80%;
  height: auto;
  overflow: hidden;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.node_list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track – nền sau */
.node_list::-webkit-scrollbar-track {
  background-color: white;
}

/* Thumb – phần trượt */
.node_list::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a8ff78 0%, #78ff6e 50%, #28a745 100%);
  border-radius: 15px;
}

/* Hover – đổi màu nhẹ */
.node_list::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #78ff6e, #1e7e34);
  box-shadow: inset 0 0 1px #1e7e34;
}

.node_item {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
  position: relative;
}

.node_item:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
}

.node_image {
  width: 100px;
  height: 100%;
  border-radius: 5px;
}

/* display tour in visitor */
.header_tour {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0 20px;
}

.close_btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.2);
  color: rgba(0, 0, 0, 0.5);
}

.close_btn {
  font-size: 30px;
  z-index: 2;
  color: white;
  margin: 10px;
  transition: transform 0.3s ease;
}

.skip_button:focus {
  outline: none;
  border: none;
}

.skip_button {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  animation: moveArrow 1s infinite ease-in-out;
}

/* Mũi tên động */
.arrow {
  display: inline-block;
  animation: moveArrow 1s infinite ease-in-out;
  font-size: 1.2rem;
  opacity: 1;
}

/* Keyframes: di chuyển phải + mờ dần */
@keyframes moveArrow {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

.info_box_container {
  position: relative;
  z-index: 100000005;
}

.info_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255, 0.95);
  /* Hộp sáng mờ */
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 90%;
  z-index: 1001;
  font-size: 16px;
  line-height: 1.5;
  color: #333;

  animation: fadeIn 0.3s ease-in-out;
}

/* Overlay nền mờ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /* Lớp nền mờ */
  z-index: 1000;
  backdrop-filter: blur(3px);
  /* Tùy chọn: hiệu ứng làm mờ */
}

/* Hiệu ứng hiện lên */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.node_index_box {
  position: absolute;
  top: 0;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.node_index_button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  width: 100%;
  color: white;
}

.node_index_button:hover {
  transform: scale(1.1);
}

.node_index_button:focus {
  outline: none;
  border: none;
  color: #0bf345;
}

.node_index_box button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.node_index_value {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 1;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  opacity: 1;
}

/* css for box add tour */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Mờ nền */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px);
  /* Nền mờ */
}

.modal {
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #999;
  cursor: pointer;
  transition: color 0.2s;
}

.closeButton:hover {
  color: #333;
}

.node_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.tour {
  width: 120px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.tour:hover {
  transform: scale(1.05);
}

.selected {
  border: 3px solid #0bf345;
}

.blur {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.name {
  position: absolute;
  bottom: 5px;
  left: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  z-index: 1;
}

.loading {
  text-align: center;
  color: #000;
  font-size: 16px;
}

.pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
}

.pagination_icon {
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination_icon:hover {
  opacity: 0.7;
  color: #0bf345;
}

.disabled {
  pointer-events: none;
  opacity: 0;
}

/* end css box add tour */