.left_menu {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: white;
}

.left_menu .header {
  height: 15vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search_box {
  font-size: 50px;
  font-weight: 800;
  display: flex;
}

.search_box .input_seach::placeholder {
  color: black;
}

.search_box .input_seach::focus {
  outline: none;
  border: none;
}

.search_box .input_seach {
  cursor: text;
  padding: 0px 12px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: none;
  font-size: 15px;
  flex: 1 1;
}

.label {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.search_icon {
  font-size: 18px;
  font-weight: 900;
  color: black;
}

.pin_header {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(-50%, 50%);
  background-color: white;
  color: #4bd430;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_menu .master_container {
  list-style-type: none;
  padding: 0;
  height: 85vh;
  overflow-y: scroll;
  pointer-events: auto;
}


.master_container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track – nền sau */
.master_container::-webkit-scrollbar-track {
  background-color: white;
}

/* Thumb – phần trượt */
.master_container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a8ff78 0%, #78ff6e 50%, #28a745 100%);
  border-radius: 15px;
}

/* Hover – đổi màu nhẹ */
.master_container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #78ff6e, #1e7e34);
  box-shadow: inset 0 0 1px #1e7e34;
}


.left_menu .node {
  filter: brightness(0.6);
  background-position: center;
  background-size: 100%;
  padding: 40px 0;
  opacity: 0.9;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.left_menu .node::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 22, 22, 0.2);
  transition: background-color 0.3s ease;
}

.left_menu .node:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-size: 120%;
  background-position: center;
  filter: brightness(1);
}

.left_menu .node:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.left_menu .node .nodeName {
  margin-left: 30px;
  word-wrap: break-word;
  display: inline-block;
  max-width: 80%;
}

.visited {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}