.container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  /* padding-top: 30px; */
  box-sizing: border-box;
}

.title:hover {
  cursor: pointer;
}

.title {
  color: #333;
  width: 95%;
  height: auto;
  border-bottom: 2px solid #333;
  margin-left: 2.5%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

.iconDown {
  position: absolute;
  margin-left: 10px;
  right: 0;
  top: 5px;
}

.features {
  width: 100%;
  position: relative;
  justify-content: space-around;
  overflow: hidden;
  /* Ẩn nội dung khi đóng */
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  padding-top: 20px;
  gap: 1rem;
}

.show {
  max-height: 300px;
  opacity: 1;
  /* animation: showTour 0.5s ease-in-out forwards; */
}

@keyframes showTour {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature:hover {
  cursor: pointer;
  /* opacity: 0.8; */
  background: rgba(173, 166, 166, 0.425);
  color: #fff;
  font-weight: 200;
}

.feature {
  background: rgba(76, 74, 74, 0.5);

  border-radius: 10px;
  width: 45%;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: #fff;
  text-decoration: none;
}

.iconFeature {
  font-size: 25px;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-weight: 1000;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.3));
}

.list_tour .list_tour_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3.5%;
  margin-left: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

.tour_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour_features {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  background-color: transparent;
  gap: 1rem;
}

.tour_box {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

.tour_search_box {
  padding-left: 1rem;
}

.tour_search_box input {
  width: 170px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9rem;
  caret-color: #267026;
  background-color: #fff;
  color: black;
}

.tour_search_box .label_for_search {
  cursor: text;
  padding: 0px 12px;
}

.search_icon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.mic_search {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.mic_icon {
  width: 12px;
}

.mic_search:hover {
  background-color: rgb(230, 255, 230);
  transition-duration: 0.3s;
}

/* LỌC */
.tour_filter_box {
  gap: 0.5rem;
  padding: 1rem;
  color: #000;
}

.tour_box:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.tour_box button {
  background-color: transparent;
  border: none;
  color: #000;
}

.tour_sort_box {
  color: #000;
  padding: 1rem;
  gap: 0.5rem;
}

.tour_add {
  color: #000;
  padding: 1rem;
  text-decoration: none;
}

.tour_add:hover {
  color: #267026;
}

.break {
  height: 2px;
  border: none;
  background-color: #267026;
  margin: 0 1rem 1rem 1rem;
}

.tour_quantity {
  color: #848484;
  font-style: italic;
  margin: 1rem;
  position: absolute;
}

.tour_list {
  display: grid;
  max-height: 420px;
  margin: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 1rem;
  overflow: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.page_btn {
  padding: 8px 12px;
  margin: 0 4px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  color: black;
}

.page_btn:focus {
  outline: none;
  border: none;
}

.page_btn:hover {
  background-color: #ddd;
}

.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}