.node_wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff22;
  background-color: #fff;

  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  font-size: 0.5rem;
  display: flex;
  gap: 2px;
}

.node_content_left {
  width: 30%;
  height: 100%;
  cursor: pointer;
}

.node_content_left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.node_content_right {
  width: calc(70% - 2px);
}

.node_content_right .name {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  padding: 0.5rem 0;
}

.node_content_right .label {
  display: flex;
  justify-content: start;
  column-gap: 0.4rem;
  color: #000;
  font-size: 0.8rem;
  flex-wrap: wrap;
}

.num_react {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.by_user_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .by_user_wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  margin: 0;
}

.navigateBar b {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.show {
  z-index: 10;
  top: -50%;
  transform: translateY(-50%);
  opacity: 1;
}

.hide {
  z-index: 1;
  top: 0px;
  opacity: 0;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: #fff;
  font-size: 0.5rem;
}

.status_open {
  background-color: rgb(16, 104, 16);
}

.status_stop {
  background-color: red;
}
