.node_wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.2s ease;
}

.node_wrapper:hover {
  opacity: 0.8;
}

.node_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: brightness(0.4);
}

.node_content {
  height: 100%;
  width: 100%;
  z-index: 1;
  color: #fff;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node_content .node_id {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
}
.node_content .node_title {
  max-width: 98%;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  align-items: center;
  gap: 0.5rem;
}
.node_content .node_author {
  /* font-style: italic;
  font-size: 0.8rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.node_thumbnail {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  margin: 0;
}

.node_content .name {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
}

.node_content .label {
  display: flex;
  justify-content: start;
  font-size: 0.8rem;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.num_react {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
}

.navigateBar b {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.show {
  z-index: 10;
  top: -50%;
  transform: translateY(-50%);
  opacity: 1;
}

.hide {
  z-index: 1;
  top: 0px;
  opacity: 0;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  color: #fff;
  font-size: 0.6rem;
}

.status_open {
  background-color: #267026;
}

.status_stop {
  background-color: red;
}

.status_wait {
  background-color: orange;
}
