.tracking_item_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.item_img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #000000;
  object-fit: cover;
}

.item_name {
  font-size: 1rem;
  font-weight: bold;
}
