.task_container {
  width: 40vw;
  position: absolute;
  bottom: -1000px;
  left: 20px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: all 1s ease;
}

.task_container.show{
  bottom: 20px !important;
}

.task_container .task_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.task_content {
  padding: 10px;
  animation: fadeOn 1s ease;
}