.upload_model,
.upload_media {
  width: 200px !important;
  height: 40px !important;
  flex-direction: row !important;
  font-size: 16px !important;
}

.upload_model .uploadIcon,
.upload_media .uploadIcon {
  width: 40px;
  height: 40px;
  font-size: 25px;
}

.upload_tip {
  font-size: 13px;
  font-style: italic;
}

.fileBtn {
  width: 300px;
  height: 150px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: 10px;
  color: #5d4dcc;
  background-color: #fff;
  border: 1.5px dashed #5d4dcc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.uploadIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f1efff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.uploadWrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.file_preview_container {
  position: absolute;
  /* top: -80px; */
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.fileCardsWrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.file_cards {
  width: 300px;
  display: flex;
  margin: auto;
  align-items: center;
  background-color: #fff;
  color: #000000;
  gap: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 8px 15px;
  position: relative;
}

.loaderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loader {
  width: 30px;
  height: 30px;
  border: 6px solid;
  border-color: rgba(0, 128, 0, 0.15) rgba(0, 128, 0, 0.25) rgba(0, 128, 0, 0.35) rgba(0, 128, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    border-color: rgba(0, 128, 0, 0.15) rgba(0, 128, 0, 0.25) rgba(0, 128, 0, 0.35) rgba(0, 128, 0, 0.75);
  }

  33% {
    border-color: rgba(0, 128, 0, 0.75) rgba(0, 128, 0, 0.15) rgba(0, 128, 0, 0.25) rgba(0, 128, 0, 0.35);
  }

  66% {
    border-color: rgba(0, 128, 0, 0.35) rgba(0, 128, 0, 0.75) rgba(0, 128, 0, 0.15) rgba(0, 128, 0, 0.25);
  }

  100% {
    border-color: rgba(0, 128, 0, 0.25) rgba(0, 128, 0, 0.35) rgba(0, 128, 0, 0.75) rgba(0, 128, 0, 0.15);
  }
}

.file_preview {
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 5%;
}

.file_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  min-width: 0;
  /* ✨ Thêm dòng này để các con tuân thủ giới hạn chiều rộng */
}

.file_content {
  /* flex: 1; */
  min-width: 0;
  /* ✨ Bắt buộc để text-overflow hoạt động trong flex */
}

.file_content h5 {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file_footer {
  /* flex: 1; */
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.file_size {
  font-style: italic;
  font-size: 13px;
}

.file_error {
  display: block;
  font-style: italic;
  font-size: 13px;
  color: #fc0303;
  max-width: 300px;
  text-align: justify;
}

.progressBg {
  width: 300px;
  height: 5px;
  background-color: beige;
  border-radius: 8px;
  margin-top: 8px;
  margin: auto;
}

.progress {
  width: 0%;
  height: 5px;
  background-color: #5d4dcc;
  border-radius: 5px;
  transition: width 0.5s ease;
}

.process_label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #fc0303;
  font-size: 16px;
}

.success_label {
  color: #008000;
}

.waiting_label {
  color: #e0e0e0;
}

.container_btn {
  color: #fff;
  margin: auto;
  margin-top: 20px;
}

.container_btn span {
  margin-right: 10px;
  padding: 10px;
  background-color: #5d4dcc;
  border-radius: 5px;
  cursor: pointer;
}

.next_btn {
  background-color: #008000 !important;
}